@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@0;1&display=swap");

:root {
	--red: #4e1113;
	--white: #ffffff;
	--orange: #ee9b00;
	--gray: #e9d8a6;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
}
html {
	text-rendering: optimizeLegibility;
	font-family: "Roboto", sans-serif;
	scroll-behavior: smooth;
	overflow-x: hidden;
	background-color: #fff;
	color: #fff;
}
/******************************/
/* Grid container */
.grid-container {
	height: 100vh;
	display: grid;
	grid-template-rows: 3rem 2fr 5fr;
	border: 1px solid black;
}
a {
	text-decoration: none;
}
/***********************************
			CallActionBar
/***********************************/
.CallActionBar {
	background: rgb(0, 0, 0);
	background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.4458158263305322) 35%);
	color: #fff;
	position: fixed;
	top: 0;
	/* background: transparent;
	height: 80px;
	display: flex;
	justify-content: center;
	font-weight: 700;
	overflow: hidden; */
	overflow: hidden;
	width: 100%;
	z-index: 100;
}
ion-icon {
	font-size: 1.5rem;
}
.nav-tools {
	margin-right: 0.1rem;
	display: flex;
}
.nav-tools a {
	color: var(--gray);
}
.nav-tools a:hover {
	color: var(--orange);
	transition: 1s;
}

.logo-action .logo {
	height: 40px;
	margin-left: 0.4rem;
}
.logo-action .logo img {
	height: 100%;
	border-radius: 50%;
}
.phone h5 {
	margin-top: 0.4rem;
	padding-left: 0.6rem;
}
.logo-action {
	font-weight: 800;
}

/***********************************
			HeroBody
/***********************************/

.HeroBody {
	/*
	background-image: linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.6)), url(https://images.unsplash.com/photo-1600628421055-4d30de868b8f?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTh8fHBpenphfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
	 background-size: cover;
	background-position: 40%;
	background-attachment: sticky;
	background-origin: content-box; */

	background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)), url("./images/bg1.jpg");
	height: 100vh;
	background-position: center;
	background-size: cover;
	/* margin-top: -30px; */
}
.hero-text {
	/* color: #fff;
	letter-spacing: 0.2rem;
	font-family: "Lora", serif;
	text-transform: uppercase;
	padding: 10% 6%; */

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	height: 100vh;
	max-height: 100%;
	padding: 0 2rem;
	width: 650px;
	color: #fff;
	text-transform: uppercase;
	line-height: 1;
	font-weight: bold;
}
@media screen and (max-width: 650px) {
	.hero-text {
		width: 100%;
	}
}

.hero-text h1 {
	font-size: clamp(2.5rem, 10vw, 5rem);
	margin-bottom: 1rem;
	/* box-shadow: 3px 5px #e9ba23; */
	letter-spacing: 3px;
}
.hero-content {
	height: calc(100vh -80px);
	max-height: 100%;
	width: 100%;
	padding: 0rem calc((100vw - 1300px) / 2);
}
.hero-text a {
	text-transform: lowercase;
	margin: 0.2rem 0.6rem;
}

.hero-btn {
	font-size: 1.4rem;
	padding: 1rem 4rem;
	border: none;
	background: #e31837;
	color: #fff;
	transition: 0.2s ease-out;
}
.hero-btn:hover {
	background: #ffc500;
	transition: 0.2s ease-out;
	cursor: pointer;
	color: #000;
}
/***********************************
				Cart
/***********************************/
.CartIndex {
	/* color: #fff; */
	/* display: flex; */
}
.basket {
	font-size: 1.2rem;
}
.basket ion-icon {
	cursor: pointer;
	font-size: 2.3rem;
}
#add {
	/* color: #4e1113; */
}
#remove {
	/* color: rgb(4, 4, 155); */
}
@media screen and (max-width: 580px) {
	.CartIndex {
		flex-wrap: nowrap;
		background-color: blue;
	}
}
#row {
	display: flex;
	justify-content: space-between;
}
.checkout {
	font-size: 1.2rem;
	padding: 0.5rem 2rem;
	border: none;
	background: #e31837;
	color: #fff;
	transition: 0.2s ease-out;
}

.checkout:hover {
	background: #ffc500;
	transition: 0.2s ease-out;
	cursor: pointer;
	color: #000;
}
